#home-main-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  border: 1px solid black;
}

/* #home-local-container {

} */